.main-container {
  position: relative;
  top: 67.188rem;
  left: calc(50% - 57.75rem / 2);
  width: 57.75rem;
}

.main-container h2 {
  margin: 0 0 1.875rem;
}

.next-arrow {
  /* Temporary styles*/
  width: 2.188rem;
  height: 2.188rem;
  background-image: url(./../../../../public/img/arrow.png);
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);

  position: relative;
  left: 55.56rem;
  bottom: 11.5rem;
}

.prev-arrow {
  /* Temporary styles*/
  width: 2.188rem;
  height: 2.188rem;
  background-image: url(./../../../../public/img/arrow.png);
  background-position: center;
  background-size: cover;
  position: relative;
  top: 10.188rem;

  z-index: 1;
  margin-right: 1.125rem;
}
.slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
.carousel-cards {
  box-sizing: border-box;
  position: relative;
  left: 2.5rem;
  right: 2.5rem;
  width: 15.375rem;
  max-width: 15.375rem;
  height: 18.125rem;
  max-height: 18.125rem;

  background: #ffffff;
  box-shadow: 4px 10px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}

.carousel-cards h3 {
  position: absolute;
  width: 13.78rem;
  height: 2.88rem;
  top: 8.8rem;
  z-index: 1;
  margin-left: 0.75rem;
  margin-top: 0;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.44rem;
  letter-spacing: 0.025rem;

  color: #455ea0;
}

.card-1 {
  background-image: url(./../../../../public/img/card-1-img.png);
  background-repeat: no-repeat;
  background-size: 15.45rem 7.88rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  position: relative;
  left: 3.125rem;
}
.card-2 {
  background-image: url(./../../../../public/img/card-2-img.png);
  background-repeat: no-repeat;
  background-size: 15.45rem 7.88rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  position: relative;
  left: 2.188rem;
}
.card-3 {
  background-image: url(./../../../../public/img/card-3-img.png);
  background-repeat: no-repeat;
  background-size: 15.45rem 7.88rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  position: relative;
  left: 0.94rem;
}

.star {
  width: 7.88rem;
  height: 1.25rem;
  display: flex;
  margin-top: 12.63rem;
  grid-gap: 0.3rem;
  margin-bottom: 1.25rem;
  margin-left: 0.75rem;
  z-index: 1;
}

.price-link {
  display: inline-block;
  width: 9.38rem;
  height: 1.44rem;
  margin-left: 0.75rem;
  margin-bottom: 1.56rem;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.44rem;

  display: flex;
  align-items: center;
  letter-spacing: 0.025rem;

  color: #ff1dbe;
}
.arrow-link {
  display: inline-block;
  position: relative;
  left: 12.5rem;
  bottom: 2.81rem;
}

.arrow-link img {
  position: inherit;
  width: 1.188rem;
  height: 0.94rem;
}

/*Old variant of slider*/

/* .main-container {
    position: absolute;
    top:1133px;
    left: calc(50% - 924px/2);
    width: 924px;
    height: 290px;
    display: flex;
    display: flex;
    align-items: center;
}

.window {
    box-sizing: border-box;
    width: 809px;
    height: 100%;
    overflow: hidden;
}

.all-cards-container {
    height:100% ;
    display: flex;
}

.arrow-left {
    cursor: pointer;
}

.arrow-btn {
background: #8700FA;
height: 35px;
width: 35px;
border: none;
border-radius: 50%;
transform: rotate(-180deg);
}

.up-left {
    display: block;
    width: 10px;
    height: 3px;
    position: relative;
    top: 5px;
    left: 10px;
    border-radius: 3px;
    z-index: 1;
border: 0;
background-color: #ffffff;
transform: rotate(-45deg);
}

.down-left {
    display: block;
    width: 10px;
    height: 3px;
    position: relative;
    top: -5px;
    left: 10px;
    border-radius: 3px;
    z-index: 1;
border:0;
background-color: #ffffff;
transform: rotate(45deg);
}

.line-left {
    display: block;
    width: 13px;
    height: 3px;
    position: absolute;
    top:16px;
    left: 10px;
       border-radius: 3px;
    z-index: 1;
border:0;
background-color: #ffffff;

}

.arrow-right {
    position: absolute ;
    right: 60px;
} */
